<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xingfeng.android.other_module">

    <application>
        <activity android:name="com.xingfeng.android.other_module.OtherModuleActivity">
        </activity>
    </application>

</manifest>